<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PwC Card Generator</title>
    </head>
    <body>
        <h1>Paws With Cause - Card Generator</h1>
        {% block content %} {% endblock content %}
   </body>
</html>
