{% extends 'base.jinja2' %}

{% block content %}
    <form method="POST" enctype=multipart/form-data>
        {% if error %}<span class="error">{{ error }}<br>{% endif %}
        <label for='file'>Animal Photo:</label>
        <input type=file name=file accept="image/*">
        <br>
        <br>
        <div class="form-group">
            <label for="shelter">Shelter</label>
            <select multiple="" class="form-control" id="shelter" name="shelter">
                {% for k, v in shelters | dictsort -%}
                    <option value='{{k}}'>{{k}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <label for='description'>Animal Description:</label>
        <br>
        <textarea rows='12' cols='40' name='description' maxlength='504' style="resize:none;"></textarea>
        <br>
        <br>
        <input type="submit" value="Generate PDF" class="btn btn-secondary" onClick="loadingAnimation()">
    </form>
{% endblock content %}