{% extends 'base.jinja2' %}

{% block content %}
    <form method="POST" enctype=multipart/form-data>
        {% if error %}<span class="error">{{ error }}<br>{% endif %}
        <label for='file'>Animal Photo:</label>
        <input type=file name=file accept="image/*">
        <br>
        <br>
        <label for='shelter_name'>Shelter Name:</label>
        <input type='text' id='shelter_name' name='shelter_name'>
        <br>
        <br>
        <label for='shelter_email'>Shelter Email:</label>
        <input type='text' id='shelter_email' name='shelter_email'>
        <br>
        <br>
        <label for='shelter_phone'>Shelter Phone #:</label>
        <input type='text' id='shelter_phone' name='shelter_phone'>
        <br>
        <br>
        <label for='description'>Animal Description:</label>
        <br>
        <textarea rows='12' cols='40' name='description' maxlength='504' style="resize:none;"></textarea>
        <br>
        <br>
        <input type="submit" value="Generate PDF" class="btn btn-secondary">
    </form>
{% endblock content %}