.jumbotron {
    padding: 2rem 2rem;
}

/* for h2 */
@media (min-width: 576px){
	.col-sm-6 {
		max-width: 100%;
	}
}

@media (min-width: 768px){
	.col-md-7 {
		max-width: 100%;
	}
}

#main-title{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Style for loading animation */
#loader-background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: rgb(255, 255, 255, .8);
}

#loading-text {
	position: absolute;
	top: 25%;
	width: 97%;
	text-align: center;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #78C2AD;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
